.rt-moderation {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard", sans-serif;
  display: flex;
}

.video-container {
  position: relative;
  margin: auto;
  width: 80%;
  padding-right: 20%;
}

.video-element {
  width: 100%;
  height: auto;
}

.canvas-element {
  display: none;
}

.detection-box {
  position: absolute;

  pointer-events: none; /* 박스를 클릭할 수 없도록 함 */
  backdrop-filter: blur(10px); /* 감지된 객체 영역에 블러 효과 적용 */
  -webkit-backdrop-filter: blur(10px); /* 사파리 브라우저 호환성 */
}

.label-list {
  text-align: left;
  width: 20%;
  margin-right: 0%;

  h5 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
