@font-face {
  font-family: "TossFaceFont";
  font-weight: normal;
  src: url("./TossFaceFontMac.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("./PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

body {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

button {
  font-family: "Pretendard";
}

::-webkit-scrollbar {
  width: 0px; /* 스크롤바 너비 */
}

img {
  -webkit-user-drag: none;
}

.main {
  width: 100%;
  min-height: 130vh;
  overflow: auto;
  padding: 2%;
  padding-left: 23%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 2%;
}

.header .user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: none;
}

.header h2 {
  margin: 0;
}

.content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .subtitle {
  color: red;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 25px;
}

.content h2 {
  margin-top: 2px;
  margin-bottom: 0;
}

.content p {
  margin: 2px;
}

.main-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.footer-container.hidden {
  transform: translateY(100%); /* footer-container 전체를 화면 아래로 이동 */
}

.footer-banner {
  width: 100%;
  padding-top: 5px;
  background-color: #eee;
  text-align: center;
  height: 100px;
  z-index: 1;
}

.footer-button {
  position: absolute; /* footer-container 안에서 위치 조정 */
  left: 0;
  bottom: 100px; /* footer-banner 위에 버튼 위치 */
  background-color: #dbdbdb;
  border: none;
  border-radius: 4px 4px 0 0;
  z-index: 2;
  padding: 2px 20px;
  img {
    width: 20px;
    transition: transform 0.3s ease-in-out;
  }
}

.footer-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px; /* 버튼 바로 아래에 줄을 표시 */
  left: 0;
  width: 100vw;
  height: 3px; /* 줄의 높이를 3px로 설정 */
  background-color: #dbdbdb; /* 줄의 색상을 설정 */
}
